body {
    margin: 20px;
    background-color: #FDFDFD;
    font-family: sans-serif;
}
form{
    padding: 20px;
    width: 33%;
    corner-radius: 10px;
    background-color: #F2F2F2;
}
input{
    padding: 12px 20px 12px 20px;
    margin-top: 8px;
    margin-bottom: 8px;
    border: 1px RGB(204, 204, 204);
}
input[type=submit]{
    background-color: RGB(204,204,204);
    color: white;
    padding: 14px 20px 14px 20px;
    border: none;
}

input[type=submit]:hover{
    background-color: RGB(69,160,73);
}
ul{
    list-style: none
}